.movieImg{
  width:280px;
}
.contain{
  position: relative;
  width: 280px;
  height: 348px;
}
.movie-row{
  width:280px;
  height:348px;
  border: 1px solid #E1E3E6;
  box-shadow: 1px 2px 8px 2px #0000001A;
  border-radius: 8px;
  margin:10px;
  overflow:hidden;
 
}

.Title{
  font-size: 16px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  margin-top:10px;
}

.score{
  background-color:white;
  position: absolute;
  top: 21px;
  left:13px;
  border: 1px solid #000000;
  border-radius: 50%;
  width: 34px;
  height: 34px;
}

.rating{
  font-weight: 600;
  font-size: 12px;
  padding-top: 9px;
  width: 100%;
  text-align: center;
 
}
.movieTitles{
  background-color:white;
  position: absolute;
  bottom: 0;
  width:100%;
}
